<!-- Layouts -->
<!-- EJS does not specifically support blocks, but layouts can be implemented by including headers and footers, like so: -->
<%- include('header'); -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for (var i=0; i<newListItems.length; i++ ) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>

            <% } %>

            <form class="item" action="/" method="POST">
                <input type="text" name="newItem" placeholder="New Todo">
                <button type="submit" name="list" value="<%= listTitle %>">+</button>
            </form>
    </div>

  <!-- EJS does not specifically support blocks, but layouts can be implemented by including headers and footers, like so: -->

    <%- include('footer'); -%>


